* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


img{
width: 100%;
}

main {
  padding: 0 50px;
}

button {
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}
